<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ESNotification_OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ESNotification_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B17475641B6CD4A500A86785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B174756E1B6CD4A500A86785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B17475831B6CD4B100A86785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B174758C1B6CD4B100A86785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B174759F1B6CD4DE00A86785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B17475A81B6CD4DE00A86785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B17475BB1B6CD4EB00A86785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B17475C41B6CD4EB00A86785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
